.body-area{
    min-height: 300px;
    width: 20em;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 15px red;
}
.selectItem{
    min-width: 200px;
    background-color: bisque;
    border-radius: 30px;
    padding: 5px;
}
.title{
    border-radius: 10px;
}
.formField{
    /* background-color: rgb(86, 131, 171); */
    border: 1px solid rgb(86, 131, 171);
    border-radius: 20px;
}
.articleWindow{
    background-color:rgb(151, 151, 151);
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px -3px 10px rgb(204, 222, 43);
}
.personalInfoTab{
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}
.button009{
    background-color: black;
    color: goldenrod;
    padding: 10px;
    border: 1px solid goldenrod;
}
.button009:hover{
    background-color: white;
    color:rgb(255, 221, 0);
}



.textInCenter010{
    text-align: center;
    justify-content: center;
    display: flex;
    color: rgb(249, 19, 2);
    font-size: 18px;
    font-weight: 100;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    margin-top: 15px;
    background-color: black;
    padding: 2px;
}
.textInCenter010:hover{
    text-align: center;
    justify-content: center;
    display: flex;
    color: rgb(0, 255, 8);
    font-size: 18px;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    margin-top: 15px;
    background-color: rgb(56, 49, 49);
    padding: 2px;
}
.textInCenter011{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    margin-top: 1px;
    background-color: rgb(99, 99, 99);
    padding: 3px;
}
.textInCenter011:hover{
    color: rgb(0, 255, 8);
    font-size: 18px;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    margin-top: 1px;
    background-color: rgb(56, 49, 49);
    padding: 2px;
}



.userBlogContentItem02{
    background-color:rgb(167, 167, 167);
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    /* box-shadow: 3px -3px 10px rgb(204, 222, 43); */
    text-align: left;
}
.articleData007{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-style: italic;
    padding: 3px;
    margin-bottom: 2px;
}
.FullArticle007{
    background-image: url('./PaperBackground.png');
    background-repeat: no-repeat;
    color: black;
}
.incrementDecrementButton{
    border-radius: 5px;
    margin: 0px;
    padding: 1px;
    border: 0px solid black;
}
.comments0052{
    background-color: rgb(165, 203, 237);
    border-radius: 10px;
    padding-left: 5px;
}
.comments0053{
    background-color: rgb(115, 156, 192);
    border-radius: 10px;
    margin-right: 5px;
    padding: 3px;
    text-align: justify;
}
.FaCommentDotssetpadding{
    margin-left: 30px;
    width: 40px;
    height: 30px;
    margin: 1px;
}


.allArticlesWindow{
    z-index: 10;
}

.CommentsWindowOuterEdge{
    position:fixed;
    top: 10px;
    left: 5px;

    background-color: rgb(146, 216, 163);

    min-height: 100px;
    width: 400px;
    border-radius: 40px;
    z-index: 5;

    padding-bottom: 20px;
}

.toDisplayCommentBoxWithFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toCloseCommentsPopUpWindow{
    position: absolute;
    top: 10px;
    left: 160px;
    border-radius: 20px;

}

.AllArticlesTotalNoOfComments{
    font-size: 14px;
    position: relative;
    bottom: 6px;
    left: 3px;

    
    border-radius: 20px;
    
}

.OptionTypeForScrollingComments{
    height: 400px;
    overflow-y: scroll;
}
.CommentWindowPostCommentInput{
    width: 200px;
    margin-top: 10px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
}
.NameOverFlow{
    overflow-x: scroll;
}
.NameOverFlow::-webkit-scrollbar{
    height: 3px;
    
}
.MyarticlesSetMaxHeightWithScrolling{
    max-height: 300px;
    overflow-y: scroll;
}

.AllArticlesEditButton{
    background-color: black;
    color: white;
}
.AllArticlesEditButton:hover{
    color: red;
    background-color: black;
}
.EditArticleParaScroll{
    max-height: 300px;
    overflow-y: scroll;
    max-width: 300px;
    background-color: rgb(55, 47, 47);
    color: white;
    text-align: left;
    padding: 5px;
    border-radius: 10px;
}
.EditArticleTextArea{
    min-height: 200px;
    min-width: 300px;
}