.footer{
    min-height: 20vh;
    background-color: rgb(66, 72, 47);
}
.profileImage001{
    width: 180px;
    height: 150px;
    border-radius: 100px;
}
.footerHelpInput{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 30px;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 5px goldenrod,-3px -3px 5px goldenrod;
}
.footerIcon001{
    margin: 10px;
}
.textAlignLeft001{
    text-align: left;
    padding-left: 50px;
}
.FooterTextDecorationSetToNonUnderlined{
    text-decoration: none;
    color:goldenrod;
}
.FooterVNRVJIETLogo{
    width: 110px;
    display: inline-block;
    /* mix-blend-mode:color-dodge; */
}